body {
   background-color: white; color: #333;
   font-size: 0.875em; line-height: 1.286em; font-family: "Helvetica", "Arial", sans-serif;
}
code {
   font-size: 1.1em;
}
h2 {
   margin-top: 1ex; font-size: 115%; padding: 3px;
   text-shadow: 2px 2px 2px #123152;
   color: azure; background-color: green;
   border: 1px solid navy; border-radius: 5px;
}
h3 {
   margin-top: 3ex; font-size: 105%; padding: 3px;
   text-shadow: 2px 2px 2px #123152;
   background: -webkit-gradient(linear, left bottom, left top, from(darkslategray), to(lightseagreen));
   background-image: -moz-linear-gradient(bottom, darkslategray, lightseagreen);
   color: azure; background-color: #4f6f6f;
   border: 1px solid navy; border-radius: 5px;
   clear: both;
}
h4 { margin-top: 3ex; margin-bottom: 1ex; font-size: 100%; }
pre {
   padding: 2px; border: 1px solid #888; background-color: #efefef;
   box-shadow: 4px 4px 4px #666;
}
img { border: none; }
.links a { padding-right: 1em; }

.navigation { display: inline; }
.navigation img { margin-left: 2px; margin-right: 2px; margin-top: -2px; }

.sidebar {
   width: 22em;
   padding: 3px;
   margin-left: 5px; margin-bottom: 5px;
   border: 4px ridge cadetblue;
   background-color: blanchedalmond;
   float: right;
}

/*
Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>
*/

pre code {
  display: block;
  color: #000;
}

pre .subst, pre .title, .type {
  font-weight: normal;
  color: #606;
}

pre .comment, pre .javadoc {
  color: #800;
  font-style: italic;
}

.annotation, pre .decorator, pre .doctype, pre .pi, pre .chunk {
  color: #808000;
}

pre .tag .title, pre .id, pre .pseudo, pre .literal, pre .keyword, pre .hexcolor,
pre .css .function, pre .ini .title, pre .css .class, pre .list .title {
  font-weight: bold;
  color: #000080;
}

pre .attribute, pre .rules .keyword, pre .number, pre .date, pre .regexp {
  font-weight: bold;
  color: #0000ff;
}

pre .number, pre .regexp {
  font-weight: normal;
}

pre .string, pre .value, pre .filter .argument, pre .css .function .params {
  color: #008000;
  font-weight: bold;
}

pre .symbol, pre .char {
  color: #000;
  background: #d0eded;
  font-style: italic;
}

pre .javadoctag {
  text-decoration: underline;
}

pre .variable, pre .envvar {
  color: #660e7a;
}

pre .addition { background: #baeeba; }
pre .deletion { background: #ffc8bd; }
pre .diff .change { background: #bccff9; }
